
<Footer style="margin-top: auto;">
    <div class="card text-center footer">
      <script src="/public/index.js"></script>
        <div class="card-body">
          <h5 class="card-title">Created By Tahsan</h5>
          <h4 class="card-text"><i class="fa-brands fa-facebook"></i> &nbsp  <i class="fa-brands fa-instagram"></i> &nbsp  <i class="fa-brands fa-twitter"></i></p>
            <h5 class="card-title">&copy File Manager</h5>
        </div>
      </div>
</Footer>